<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic Image Upload</title>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/aws-sdk/dist/aws-sdk.min.js"></script>
    <script src="lib/s3-image-uploader/src/image-uploader.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-app="ionic-image-upload">
    <ion-pane>
      <ion-header-bar class="bar bar-stable">
        <h1 class="title">Ionic Image Upload</h1>
      </ion-header-bar>
      <ion-content ng-controller="UploadController">
        <input class="bottom-marg-15" type="file" name="file" file="file">
        <button class="button button-small button-full button-positive" ng-disabled="!file.size || uploadProgress > 0" ng-click="upload()" ng-cloak="">Upload</button>
        <span ng-if="error" ng-bind="result.error" style="color:red;font-weight:bold" ></span>
        <img class="fit" ng-if="result.url" ng-src="{{result.url}}">
        <small><a ng-href="{{result.url}}" ng-bind="result.url"></a></small>
      </ion-content>
    </ion-pane>
  </body>
</html>
